.dpdwndiv{
    position: relative;
    display: inline-block;
}

.info1{
    list-style: none;
    position: relative;
    top: 11px; right: 60px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.info2{
    list-style: none;
    position: relative;
    top: 11px; right: 45px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.dropbtn{
    color: rgb(0, 0, 0);
    position: relative;
    top: 55px; right: 160px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content1{
    display: none;
    position: absolute;
    top: 75px; right: 35px;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgb(78, 78, 78);
    z-index: 1;
}
.dropdown-content1 a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}
.dropdown-content1 a:hover{
    background-color:#969393f9;
}
.dpdwndiv1:hover .dropdown-content1 {
    display:block;
}


.dropbtn1{
    color: rgb(0, 0, 0);
    position:absolute;
    top: 55px; right: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content2{
    display: none;
    position: absolute;
    left: 150%; top: 45px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(78, 78, 78);
    z-index: 1;
}
.dropdown-content2 a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 a:hover{
background-color:#969393f9;
}
.dpdwndiv2:hover .dropdown-content2 {
    display:block;
}
