
@import url("footer.css");
@import url("dropdown.css");
@import url("slideshow.css");
@import url("scripts/slideshow.script");


* { 
    font-family: 'Oswald', sans-serif, Helvetica;
    box-sizing: border-box;
}

/* others
-----------------------------------------------------------------------------------------------------------------*/

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px white;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb{
    background: rgb(80, 80, 80);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(43, 42, 42);
}


body{
    height: 220vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 1fr 140px;
    grid-template-areas: 
    "header" "main" "footer";
}

/* wrapper 
-----------------------------------------------------------------------------------------------------------------*/
.wrapper{
    background-color: rgb(154, 203, 207);
    border-bottom: 4px solid rgba(114, 150, 153, 0.788);
    position: absolute;
    width: 100%;
}

.atitle, .faleconoscoa, .dropbtn{
    text-decoration: none;
    list-style: none;
}

.title{
    float: left;
    font-size: 1.2rem;
    text-align: center;
}
.atitle{
    left: 390px; bottom: 5px;
    position: relative; 
    font-weight: 750;
    font-size: 2.0rem;
    color: rgb(7, 64, 117);
}


.dpdwndiv{
    position: absolute;
    left: 80%;
}

.faleconoscoa{
    float: right;
    position: relative;
    right: 20px; top: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: black;
}

/* main 
-----------------------------------------------------------------------------------------------------------------*/

.main{
    grid-area: main;
    background-color: rgb(255, 255, 255);
}